# 데이터 전처리

In [ ]:
import pandas as pd

# 파일 오픈
first_df = pd.read_csv('rawdata_기타휴게음식점.csv',encoding='cp949')

<ipython-input-2-32feb349b326>:3: DtypeWarning: Columns (11,39,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  first_df = pd.read_csv('/content/drive/MyDrive/프로젝트 - 2403/fulldata_07_24_05_P_휴게음식점.csv',encoding='cp949')

In [ ]:
# 원본 파일을 유지하기 위해 복사본 사용
df = first_df.copy()

In [ ]:
# 컬럼명 확인
df.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명', '총직원수',
       '본사직원수', '공장사무직직원수', '공장판매직직원수', '공장생산직직원수', '건물소유구분명', '보증액', '월세액',
       '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식', '홈페이지', 'Unnamed: 47'],
      dtype='object')

In [ ]:
# 데이터 확인
pd.DataFrame(df)

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,공장생산직직원수,건물소유구분명,보증액,월세액,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식,홈페이지,Unnamed: 47
0,1,휴게음식점,07_24_05_P,3010000,3010000-104-2023-00307,2023-11-24,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,10.00,NaN,NaN,NaN,NaN
1,2,휴게음식점,07_24_05_P,3740000,5610000-104-2023-00264,2023-11-20,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,0.00,NaN,NaN,NaN,NaN
2,3,휴게음식점,07_24_05_P,3740000,3770000-104-2023-00174,2023-11-20,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,28.00,NaN,NaN,NaN,NaN
3,4,휴게음식점,07_24_05_P,4050000,5620000-104-2023-00182,2023-11-15,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,60.00,NaN,NaN,NaN,NaN
4,5,휴게음식점,07_24_05_P,3410000,3410000-104-2023-00209,2023-11-15,NaN,3,폐업,2,...,0.0,NaN,0.0,0.0,N,0.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560001,560002,휴게음식점,07_24_05_P,3610000,3610000-104-2018-00018,2018-03-14,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,3.30,NaN,NaN,NaN,NaN
560002,560003,휴게음식점,07_24_05_P,3610000,3610000-104-2018-00027,2018-04-10,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,56.10,NaN,NaN,NaN,NaN
560003,560004,휴게음식점,07_24_05_P,3610000,3610000-104-2018-00031,2018-04-19,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,16.00,NaN,NaN,NaN,NaN
560004,560005,휴게음식점,07_24_05_P,3610000,3610000-104-2017-00085,2017-12-18,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,12.00,NaN,NaN,NaN,NaN
560005,560006,휴게음식점,07_24_05_P,3600000,3600000-104-2010-00022,2010-03-16,NaN,1,영업/정상,1,...,NaN,NaN,NaN,NaN,N,8.22,NaN,NaN,NaN,NaN

In [ ]:
# '소재지전체주소' '도로명전체주소'에서 각 행의 문자열 값이 '서울특별시' 포함하는지 여주 확인
df = df[(df['소재지전체주소'].astype(str).str.contains('서울특별시', na=False)) | (df['도로명전체주소'].astype(str).str.contains('서울특별시', na=False))]

In [ ]:
# 인덱스 리셋
df = df.reset_index()

In [ ]:
# 행정구 데이터 분리
df['구'] = ""
for i in range(len(df)):
    if pd.notnull(df['도로명전체주소'][i]):
        df['구'][i] = df['도로명전체주소'][i].split()[1]
    elif not pd.isna(df['소재지전체주소'][i]):
        df['구'][i] = df['소재지전체주소'][i].split()[1]
    else:
        pass

<ipython-input-8-3be75d56b66e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['구'][i] = df['도로명전체주소'][i].split()[1]
<ipython-input-8-3be75d56b66e>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['구'][i] = df['소재지전체주소'][i].split()[1]

In [ ]:
# 결측값이 있는지 확인한다
df['구'].isna().sum()

0

In [ ]:
df['인허가일자'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 129185 entries, 0 to 129184
Series name: 인허가일자
Non-Null Count   Dtype
--------------   -----
129185 non-null  object
dtypes: object(1)
memory usage: 1009.4+ KB

In [ ]:
# '폐업' 열의 데이터 타입을 날짜 형식으로 변환
df['폐업일자'] = pd.to_datetime(df['폐업일자'])

# '폐업일자'에서 년도, 월 추출
df['폐업_년'] = df['폐업일자'].dt.year.astype('Int64')
df['폐업_월'] = df['폐업일자'].dt.month.astype('Int64')

In [ ]:
# '인허가일자' 열의 데이터 타입을 날짜 형식으로 변환
df['인허가일자'] = pd.to_datetime(df['인허가일자'])

# '인허가일자'에서 년도, 월 추출
df['인허가_년'] = df['인허가일자'].dt.year
df['인허가_월'] = df['인허가일자'].dt.month

In [ ]:
# 영업상태 종류 확인
df['영업상태구분코드'].value_counts()

3    90778
1    38407
Name: 영업상태구분코드, dtype: int64

In [ ]:
# 편의성을 위해 영업상태코드 3을 2로 수정
df.loc[df['영업상태구분코드'] == 3, '영업상태구분코드'] = 2

In [ ]:
# 업체 종류 확인
df['업태구분명'].value_counts()

커피숍         35300
일반조리판매      20484
기타 휴게음식점    20247
다방          17664
편의점         11763
과자점          8626
패스트푸드        8069
백화점          3797
푸드트럭         1104
아이스크림         653
철도역구내         472
전통찻집          393
떡카페           235
키즈카페          156
관광호텔           82
유원지            76
극장             30
공항             18
고속도로           10
룸살롱             1
김밥(도시락)         1
기타              1
한식              1
호프/통닭           1
단란주점            1
Name: 업태구분명, dtype: int64

In [ ]:
# 취합할 데이터 선택 후
# 업태구분명이 커피숍/다방/기타휴게음식점 인 곳을 선택
select_data = ['영업상태구분코드', '영업상태명', '업태구분명', '구', '폐업_년', '폐업_월', '인허가_년', '인허가_월']
final_df = df.loc[(df['업태구분명'] == '커피숍') | (df['업태구분명'] == '다방') | (df['업태구분명'] == '기타 휴게음식점'), select_data]

In [ ]:
# 기타 휴게음식점에서 커피류 판매하는 곳 찾아보기
find_df.loc[df['업태구분명']=='기타 휴게음식점', ['사업장명']].value_counts()

사업장명
요거프레소          19
약속             15
마이빈(한시적)       14
리은푸드           14
커피마마           13
               ..
버즈              1
버블티킹(신촌점)       1
버블톡 암사(시장)점     1
버블톡 성균관대점       1
힘키즈             1
Length: 8911, dtype: int64

In [ ]:
# 특정 키워드를 가진 기타 휴게음식점 + 다방 + 커피숍
find_df = find_df[(find_df['사업장명'].astype(str).str.contains('커피', na=False)) |
 (find_df['사업장명'].astype(str).str.contains('카페', na=False))
 |(find_df['사업장명'].astype(str).str.contains('매머드', na=False))
 |(find_df['사업장명'].astype(str).str.contains('메가', na=False))
 |(find_df['사업장명'].astype(str).str.contains('스타벅스', na=False))
 |(find_df['사업장명'].astype(str).str.contains('다방', na=False))
 |(find_df['사업장명'].astype(str).str.contains('프레소', na=False))
 |(find_df['사업장명'].astype(str).str.contains('이디야', na=False))
 |(find_df['사업장명'].astype(str).str.contains('폴바셋', na=False))
 |(find_df['사업장명'].astype(str).str.contains('버블', na=False))
 |(find_df['사업장명'].astype(str).str.contains('투썸', na=False))
 |(find_df['사업장명'].astype(str).str.contains('아마스빈', na=False))
 |(find_df['업태구분명'].astype(str).str.contains('다방', na=False))
 |(find_df['업태구분명'].astype(str).str.contains('커피숍', na=False))
]

In [ ]:
# 고유값 확인을 통해 제대로 정제됐는지 확인
unique_arr = cafe_df['사업장명'].unique()
for u in unique_arr:
  print(u)

In [ ]:
# 정수화 + 정렬의 용이함을 위해 데이터 타입 변경
find_df['폐업_년'].astype('Int64')
find_df['폐업_월'].astype('Int64')

0           1
4          12
13         12
14         11
19         10
         ...
73203    <NA>
73204    <NA>
73205    <NA>
73207    <NA>
73210    <NA>
Name: 폐업_월, Length: 54978, dtype: Int64

In [ ]:
# 파일 저장
find_df.to_csv('기타휴게음식점_정제.csv',encoding='utf-8',index=False )